<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center round">Edit Workspace</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-6 col-xs-offset-3">
          <br>
          <%= form_for @current_workspace, method: :patch, :html => {:class => "form-horizontal center"} do |f| %>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :title, class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.text_field :title, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
          <hr>
          <h3>Delete workspace</h3>
          <p>After you will press the button 'Delete', your workspace will be deleted permanently!</p>

          <form class="form-horizontal center">
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <%= link_to "Delete", workspace_path(@current_workspace), method: :delete, class: 'btn btn-danger', :data => {:confirm => 'Are you sure?'} %>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
