<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li class=<%= "current-page" if controller?('app/dashboard') %>>
        <%= link_to app_dashboard_path do %>
          <i class="fa fa-dashboard"></i> Dashboard
        <% end %>
      </li>
      <li class=<%= "current-page" if controller?('app/user_calendar') %>>
        <%= link_to app_user_calendar_path do %>
          <i class="fa fa-calendar"></i> My Calendar
        <% end %>
      </li>
      <li><a><i class="fa fa-comments-o"></i> My Conversations</a></li>
      <hr>
    </ul>
    <h3>Workspaces <i class="fa fa-plus pull-right add_item" data-toggle="modal" data-target="#add_project_modal"></i></h3>
    <ul class="nav side-menu">
      <% @workspaces.each do |w| %>
        <li class=<%= "current-page" if w == @current_workspace %>><%= link_to w.title, app_workspace_path(w) %></li>
      <% end %>
    </ul>
  </div>
</div>


<!-- Add new workspace -->

<div class="modal fade" id="add_project_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Create new workspace</h4>
      </div>
      <div class="modal-body">
        <div id="delete_message" class="text-center"></div>
        <div class="">
        <%= form_tag app_workspaces_path, method: :post do |f| %>
          <div class="form-group">
            <%= label_tag :title %>
            <%= text_field_tag :title, nil, class: 'form-control' %>
          </div>
          <div class="text-center">
            <%= submit_tag 'Create', class: 'btn btn-primary' %>
          </div>
        <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

