<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <% if !@current_workspace %>

    <% else %>
      <h3>General</h3>
      <ul class="nav side-menu">
        <li class=<%= "active" if controller?('workspaces/dashboard') %>>
          <%= link_to workspace_dashboard_path(@current_workspace) do %>
            <i class="fa fa-dashboard"></i> Dashboard
          <% end %>
        </li>
        <li class=<%= "active" if controller?('workspaces/calendar') %>>
          <%= link_to workspace_calendar_path(@current_workspace) do %>
            <i class="fa fa-calendar"></i> My Calendar
          <% end %>
        </li>
        <li class=<%= "active" if controller?('workspaces/colleagues') %>>
          <%= link_to workspace_colleagues_path(@current_workspace) do %>
            <i class="fa fa-users"></i> Workspace colleagues
          <% end %>
        </li>
        <hr>
      </ul>
      <h3>Projects <i class="fa fa-plus pull-right add_item" data-toggle="modal" data-target="#add_project_modal"></i></h3>
      <ul class="nav side-menu">
        <% @current_workspace.projects.active.each do |p| %>
          <li class=<%= "active" if p == @current_project %>><%= link_to p.title, project_tasks_path(p) %></li>
        <% end %>
      </ul>
      <% if @current_workspace.projects.archived.count != 0 %>
        <hr>
        <h3>Archived Projects</h3>
        <ul class="nav side-menu">
          <% @current_workspace.projects.archived.each do |p| %>
            <li class=<%= 'active' if p == @current_project %>><%= link_to p.title, project_tasks_path(p) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Add new project modal -->

<div class="modal fade" id="add_project_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Create new project</h4>
      </div>
      <div class="modal-body">
        <div id="delete_message" class="text-center"></div>
        <div class="">
        <%= form_tag projects_path, method: :post do |f| %>
          <div class="form-group">
            <%= label_tag :title %>
            <%= text_field_tag :title, nil, class: 'form-control', autocomplete: :off %>
          </div>
          <div class="form-group">
            <%= label_tag :description, "Description (optional)" %>
            <%= text_area_tag :description, nil, class: 'form-control' %>
          </div>
          <div class="text-center">
            <%= submit_tag 'Create', class: 'btn btn-primary' %>
          </div>
        <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

