<div class="modal fade" id="<%= 'task_modal_' + object.id.to_s %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Task details</h4>
      </div>
      <div class="modal-body">
        <div id="<%= 'update_task_' + object.id.to_s + '_message' %>"></div>
        <%= form_for @task, :url => app_project_update_task_description_path(@current_project, @task), remote: true do |f| %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', autocomplete: :off %>
          </div>
          <div class="text-center">
            <%= f.submit 'Update', class: 'btn btn-primary' %>
          </div>
        <% end %>
        <hr>
        <h5>Remove task:</h5>
        <div id="<%= 'delete_task_' + object.id.to_s + '_message' %>"></div>
        <div class="text-center">
          <%= link_to "Delete", app_project_task_path(@current_project, object), method: :delete, remote: true, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
