<div class="<%= object.done? ? "task-content done" : "task-content" %>">
  <div class="task-checkbox">
    <%= link_to app_project_update_task_status_path(@current_project, object.id), method: :patch, remote: true do %>
      <i class="<%= object.done? ? "fa fa-check-circle-o" : "fa fa-circle-o" %>"></i>
    <% end %>
  </div>
  <div class="task-body">
    <p><%= object.title %></p>
  </div>
  <div class="task-options pull-right">
    <i class="fa fa-ellipsis-h" data-toggle="modal" data-target="<%= '#task_modal_' + object.id.to_s %>"></i>
  </div>
</div>


<!-- Tasks modal -->

<div class="modal fade" id="<%= 'task_modal_' + object.id.to_s %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Task details</h4>
      </div>
      <div class="modal-body">
        <div id="<%= 'update_task_' + object.id.to_s + '_message' %>"></div>
        <%= form_for [:app, @current_project, object], method: :patch, remote: true do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', autocomplete: :off %>
          </div>
          <div class="text-center">
            <%= f.submit 'Update', class: 'btn btn-primary' %>
          </div>
        <% end %>
        <hr>
        <h5>Remove task:</h5>
        <div id="<%= 'delete_task_' + object.id.to_s + '_message' %>"></div>
        <div class="text-center">
          <%= link_to "Delete", app_project_task_path(@current_project, object), method: :delete, remote: true, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
