<div class="panel panel-default task-details">
  <div class="panel-body">
    <div class="comment-form" id="comment-form">
      <%= form_tag [:app, @current_project, @task, @new_comment], method: :post, remote: true do |f| %>
        <div class="form-group">
          <%= text_area_tag :text, nil, id: 'new-comment-field', class: 'form-control expand', rows: 1, placeholder: 'Add a comment', autocomplete: :off %>
        </div>
        <div class="controls">
          <%= submit_tag 'Add comment', id: 'new-comment-submit', class: 'btn btn-default btn-sm' %>
        </div>
      <% end %>
    </div>

    <div id="comments-list">
      <% @task.comments.reverse.each do |c| %>
        <div class="comment" id="<%= "comment_" + c.id.to_s %>">
          <%= render :partial => 'app/comments/comment', :locals => { :object => c } %>
        </div>
      <% end %>
    </div>
  </div>
  <ul>
    <li>Description</li>
    <li>Subtasks</li>
    <li>comments, files, history</li>
  </ul>
</div>
