<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center round">User profile</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="text-center">
            <%= image_tag(@user.avatar, class: 'user-profile-big') %>
          </div>
          <br>
          <%= form_for [:app, @user], :url => { :action => "update_user" }, :html => {:class => "form-horizontal center"} do |f| %>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :name, class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :title, class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.text_field :title, placeholder: 'Example: Front end developer', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :email, class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.email_field :email, class: 'form-control', disabled: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :avatar, class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.file_field :avatar, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
          <hr>

          <h3>Change password</h3>
          <p>If you wish to change your password, enter new password here twice.</p>
          <%= form_for [:app, @user], :url => app_update_user_password_path, :html => {:class => "form-horizontal center"} do |f| %>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :old_password, "Old password", class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.password_field :old_password, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :password, "New password", class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.password_field :password, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :password_confirmation, "Repeat", class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <%= f.submit 'Update password', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
          <hr>

          <h3>Delete account</h3>
          <p>After you will press the button 'Delete', your account will be deleted permanently!</p>

          <form class="form-horizontal center">
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <a class="btn btn-danger" data-toggle="modal" data-target="#delete_user_modal">Delete account</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete account modal -->

<div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Do you want to delete your account?</h4>
      </div>
      <div class="modal-body">
        <div id="delete_user_message" class="text-center"></div>
        <div class="">
          <%= form_for [:app, @user], remote: true, :url => { :action => "destroy" }, :html => {:method => :delete, :class => "form-horizontal center"} do |f| %>
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label :password, class: 'control-label' %>
              </div>
              <div class="col-xs-9">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <%= f.submit 'I want to delete my account permanently!', class: 'btn btn-danger' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

