<div class="comment-form">
  <%= form_for [:app, @current_project, object], method: :patch, remote: true do |f| %>
    <div class="form-group">
      <%= f.text_area :text, class: 'form-control', rows: 3, autocomplete: :off %>
    </div>
    <div class="controls">
      <div class="pull-left">
        Color: <%= f.select :color, options_for_select(Status.colors.keys.to_a, object.color) %>
      </div>
      <%= f.submit 'Update', class: 'btn btn-default btn-sm', remote: true %>
      <%= link_to 'Cancel', app_project_cancel_status_edit_path(@current_project, object), class: 'btn btn-default btn-sm', remote: true %>
    </div>
  <% end %>
</div>
<br>
