<!DOCTYPE html>
<html>
<head>
  <title>Todoapp</title>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    $(document).ready(function(){
      $(document).on('click','.signup-tab',function(e){
        e.preventDefault();
          $('#signup-taba').tab('show');
      });

      $(document).on('click','.signin-tab',function(e){
          e.preventDefault();
          $('#signin-taba').tab('show');
      });

      $(document).on('click','.forgetpass-tab',function(e){
        e.preventDefault();
          $('#forgetpass-taba').tab('show');
      });
    });
  </script>
</head>
<body>

<div class="landing-page">
  <nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <% if !current_user %>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-check-square-o"></i> Todo App
          <% end %>
        <% else %>
          <%= link_to app_dashboard_path, class: 'navbar-brand' do %>
            <i class="fa fa-check-square-o"></i> Todo App
          <% end %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <i class="fa fa-facebook-square"></i>
              Like
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
              Tweet
            </a>
          </li>
          <li>
            <% if !current_user %>
              <a href="#" data-toggle="modal" data-target="#authentication_modal" class="signin-tab">
                <i class="fa fa-sign-in"></i>
                Sign in
              </a>
              <% else %>
                <%= link_to session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>
                  Sign out
                <% end %>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="wrapper">
    <div class="parallax filter-gradient filter-color">
      <div class="parallax-background">
        <%= image_tag("bg3.jpg", class: 'parallax-background-image') %>
      </div>
      <div class="container">
        <div class="row">
          <%= render 'shared/landing_alert' %>
          <div class="col-sm-7 hidden-xs">
            <div class="parallax-image">
              <%= image_tag("mac1.png") %>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="description">
              <h2>Awesome landing page.</h2>
              <h5>Be amazed by the best looking bootstrap landing page on the web! Your new app deserves an amazing page to show all of its features. Clear visual, light colours and beautifully aligned elements!</h5>
              <hr>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg signup-tab" data-toggle="modal" data-target="#authentication_modal">SIGN UP</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-gray section-clients">
      <div class="container text-center">
        <h4 class="header-text">Happy Customers</h4>
        <p>
          Designing in Photoshop became a trend. Change, save, redo. Change, save, redo. After searching thoroughly for an alternative to create something great, it was clear that there weren’t any great solutions or intentions by anyone to create a pixel-perfect template for anyone to use. We don't do pixel-perfect, we focus on client-perfect projects.      </p>
        <div class="logos">
          <ul class="list-unstyled">
            <li><%= image_tag("logos/adobe.png") %></li>
            <li><%= image_tag("logos/zendesk.png") %></li>
            <li><%= image_tag("logos/ebay.png") %></li>
            <li><%= image_tag("logos/evernote.png") %></li>
            <li><%= image_tag("logos/airbnb.png") %></li>
            <li><%= image_tag("logos/zappos.png") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section section-presentation">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="description">
              <h4 class="header-text">It's beautiful</h4>
              <p>And your app is also probably social, awesome, easy-to-use and vital to users. This is the place to enlist all the good things that your app has to share. Focus on the benefits that the uers will receive. Try to combine imaginery with text and show meaningful printscreens from your app, that will make it clear what exactly the basic functions are. </p>
              <p>Try to make it very clear for the people browsing the page that this product will enrich their life and will make a nice addition to the homescreen.</p>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-1 hidden-xs">
            <%= image_tag("mac2.png") %>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer">
      <hr>
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Company
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
          </ul>
        </nav>
        <div class="social-area pull-right">
          <a href="#">
            <i class="fa fa-facebook-square btn-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter btn-twitter"></i>
          </a>
        </div>
      </div>
    </footer>
  </div>

  <!-- Modal windows -->
  <!-- Sign in Modal -->
<div class="modal fade" id="authentication_modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content login-modal">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div role="tabpanel" class="login-tab">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="signin-taba" href="#signin" aria-controls="signin" role="tab" data-toggle="tab">Sign In</a></li>
            <li role="presentation"><a id="signup-taba" href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
          </ul>
          <br>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="signin">
              <div class="clearfix"></div>
              <%= form_tag sessions_path, method: :post, remote: true do |f| %>
                <div id="signin_errors_message">
                </div>
                <div class="form-group">
                  <%= label_tag :email %>
                  <%= email_field_tag :email, nil, class: 'form-control', id: 'signin-email' %>
                </div>
                <div class="form-group">
                  <%= label_tag :password %>
                  <%= password_field_tag :password, nil, class: 'form-control', id: 'signin-pass' %>
                </div>
                <div class="text-center">
                  <%= submit_tag 'Sign in', class: 'btn btn-primary btn-lg' %>
                </div>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="signup">
              <div class="clearfix"></div>
              <%= form_for @user, remote: true do |f| %>
                <div id="signup_errors_message">
                </div>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control', id: 'signup-name' %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control', id: 'signup-email' %>
                </div>
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control', id: 'signup-pass' %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class: 'form-control', id: 'signup-passconf' %>
                </div>
                <div class="text-center">
                  <%= f.submit 'Register', class: 'btn btn-primary btn-lg' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>

</body>
</html>
